 * {
background-color:#eeeeee;
margin:1px;
padding:5px;
text-align: center;
}
#header {
    
 margin-left: auto;
margin-right: auto;
text-align: center;
width:500px;
font-family:Arial, Helvetica, sans-serif;
			}
			
ul, ol {
   
list-style:none;
			}
			
.nav > li {
float:left;
		}
			
.nav li a {
background-color:#000;
color:#fff;
text-decoration:none;
padding:15px 1px;
display:block;
			}
		
.nav li a:hover {
background-color:#000;
		}
			
.nav li ul {
display:none;
position:absolute;
min-width:240px;
			}
			
.nav li:hover > ul {
display:block;
			}
			
.nav li ul li {
position:relative;
			}
			
.nav li ul li ul {
right:-140px;
top:0px;
			}
                        
                        .title{
                             margin: 0 auto;
  width: 430px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
                        }
                        
                        .menu{
background-color:whitesmoke;
color:blueviolet;               
height:30px;
margin: 15px 15px 15px 15px;
border:#CCC dotted 2px;
width:90px;
float:left;  
                            
                        }
.register-input {

  display: block;
  width: 100%;
  height: 38px;
  margin-top: 0px;
  font-weight: 50;
  background: none;
  border: 0;
  border-bottom: 3px solid #d8d8d8;
}
.register-input:focus {
    
  border-color: #1e9ce6;
  outline: 0;
}
.register {
  margin: 0 auto;
  width: 430px;
  padding: 20px;
  background: #f3f3f3;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.register-button {
  display: block;
  width: 100%;
  height: 42px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #494d59;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: #fcfcfc;
  border: 1px solid;
  border-color: #d8d8d8 #d1d1d1 #c3c3c3;
  border-radius: 2px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
  background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
  -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
}
